<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <arg name="use_tcp"      default="true" />
  <arg name="use_joy"      default="true" />
  <arg name="use_insta360" default="true" />
  <arg name="use_ajirobo"  default="true" />  
  <arg name="use_delta2g"  default="true" />  
x
  <!-- ROS TCP -->
  <group if="$(var use_tcp)">
    <node pkg="ros_tcp_endpoint" exec="default_server_endpoint" output="screen">
    </node>
  </group>

  <!-- joy -->
  <group if="$(var use_joy)">
    <!--
    <node pkg="joy" exec="joy_node" output="screen">
      <param name="autorepeat_rate" value="10.0" />
    </node>
    -->
    <node pkg="teleop_twist_joy" exec="teleop_node" output="screen">
      <param name="axis_linear.x"     value="1"    />
      <param name="scale_linear.x"    value="0.2"  />      
      <param name="axis_angular.yaw"  value="0"    />
      <param name="scale_angular.yaw" value="-0.5" />
      
    </node>
  </group>
  
  
  <!-- insta360 camera -->
  <group if="$(var use_insta360)">
    <node pkg="insta360_air" exec="insta360air" output="screen">
      <param name="device_index" value="0"    />
      <param name="width"        value="1280" />
      <param name="height"       value="640"  />      
    </node>
  </group>
  
  <!-- ajirobo -->
  <group if="$(var use_ajirobo)">
    <node pkg="ros2_ajirobo_base" exec="ajirobo_base" output="screen">
      <param name="device_name" value="/dev/ttyACM0" />
    </node>
  </group>  
  
  <!-- 2D lidar -->
  <group if="$(var use_delta2g)">
    <node pkg="ros2_delta_lidar" exec="delta_lidar" output="screen">
      <param name="port" value="/dev/ttyUSB0" />
      <param name="baud" value="115200"       />      
    </node>
  </group>  
  
</launch>

